<h1>My cocktails</h1>


<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="card col-xs-12 col-sm-4">
      <div class="name"><%= cocktail.name %> </div>
 <div class="card-img-top"> <%= image_tag(cocktail.image, size: "300x200")%>
      </div>
      <div>
        <%= link_to '<i class="fas fa-eye"></i>'.html_safe, cocktail %>
        <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, cocktail, method: :delete, data: { confirm: 'Are you sure?'}%>
      </div>
    </div>
  <% end %>
</div>

