// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.banner_title h1{
  font-size: 50px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}
.navbar {
  justify-content: space-between;
}

body {
  color: white;
 background-image: url(background.jpg);
 background-size: 100%;

}
.recette {
  background-color: #e0dede;
  color:black;
  border-radius: 15px
}
.navbar {
  background-color: black;
  opacity: 0.9;
}

.card {
  width: 350px;
  margin: 20px;
}
.name {
  color:black;
}
.card-img-top {
  width: 100px;
}
